/* ###########################################################################

GLOBAL ASSETS RELEASE 3.2

SUN WWW.CSS v1.2

COPYRIGHT SUN MICROSYSTEMS INC. 2007

THIS CSS IS FOR GEO SPECIFIC STYLES IF YOU WISH TO MAKE ADDITIONS TO THIS CSS
PLEASE CONTACT webdesign -at- sun.com.

NOTE: YOU *MUST* CHANGE ALL REFERENCES TO /IM TO REFLECT THE APPROPRIATE DIRECTORY.

########################################################################### */

/* navblue look in media */
table.grey6[width="170"]{width:100%}
table.grey6[width="170"] .grey6,table.grey6[width="170"] .white1{background:transparent}
table.grey6[width="170"] b .rightarrowred{font-weight:normal;color:#5382A1}
table.grey6[width="170"] b.smaller{font-weight:normal}
table.grey6[width="170"] span.smaller{color:#666}
table.grey6[width="170"] table.white1[cellpadding="0"] tr td div.headerpadding{background:url("images/generic_tr.gif") no-repeat top right;border-top:none;padding:14px 8px 10px 8px;font-weight:bold}
table.grey6[width="170"] table.white1[cellpadding="0"]{background:url("images/generic_tl.gif") no-repeat top left}
table.grey6[width="170"] table.white1[cellpadding="8"]{margin:0px 10px 8px 10px}
table.grey6[width="170"] table.white1[cellpadding="8"] table.vatop tr td{padding-top:2px}
table.grey6[width="170"] tr td{padding:0px}
table.grey6[width="170"]{background:url("images/bg_navblue.gif") repeat-x left bottom #DDE6EC;width:100%}
table.grey7[width="170"]{background:#FFF;width:100%}
table.grey6[width="170"] .smaller a{font-size:12px}

/* d1v3 styles */
div.d1h h1,div.d1h h2,div.d1h h3,div.d1h h4,div.d1h h5,div.d1h h6,div.d1h ol,div.d1h ul,div.d1h dl,div.d1h p{margin-top:5px;margin-bottom:5px}
div.d1h{background:#35556B url("images/a2_background.gif") repeat-x 0px 0px;color:white}
* html div.d1h{border-bottom:1px solid #eee}
div.d1h h1,div.d1h h2,div.d1h h3,div.d1h h4,div.d1h h5,div.d1h h6{font-size:12px}
div.d1h *{color:white}
div.d1h a:link,div.d1h a:visited,div.d1h a:hover,div.d1h a:active{color:white}
div.d1h div.d1hw1{background:transparent url("images/a2_corner_tr.gif") no-repeat top right}
div.d1h div.d1hw2{background:transparent url("images/a2_corner_tl.gif") no-repeat top left;padding:1px 12px;position:relative}
div.d1h p.d1h-extra{text-align:right;position:absolute;top:2px;right:12px}
div.d1bod h1,div.d1bod h2,div.d1bod h3,div.d1bod h4,div.d1bod h5,div.d1bod h6,div.d1bod ol,div.d1bod ul,div.d1bod dl,div.d1bod p{margin-top:8px;margin-bottom:8px}
div.d1bod h2+p,div.d1bod h3+p,div.d1bod h4+p,div.d1bod h5+p,div.d1bod h6+p,div.d1bod h2+ul,div.d1bod h3+ul,div.d1bod h4+ul,div.d1bod h5+ul,div.d1bod h6+ul{margin-top:-4px}
div.d1bod *{font-size:12px}
div.d1bod li{margin:3px 0px 4px 0px}
div.d1bodw2{padding:2px 12px}
div.d1thumb{position:relative;padding-left:110px;padding-top:1px;margin-top:-1px;min-height:94px}
div.d1thumb-pn0{padding-left:77px}
div.d1thumb-l2{padding-left:110px}
div.d1thumb + div.d1thumb{margin-top:-10px}
* html div.d1thumb{height:94px}
div.d1thumb img.d1thumb{position:absolute;top:10px;left:0px}
div.d1category{margin-bottom:12px}
div.d1category h3{padding-left:10px;background:transparent url("images/ar_lg_red_r.gif") no-repeat -8px 1px}
div.d1category p{padding-left:8px}
div.d1category ul{list-style:none;margin-left:0px;padding-left:0px;position:relative}
div.d1category li{list-style:none;list-style-image:url("images/a.gif");padding-left:10px}
div.d1category p.d1more{padding-left:10px}
div.d1category li.d1more,div.d1category p.d1more{padding-left:10px;background:transparent url("images/ar_dbl_blue.png") no-repeat 0px 0px;font-weight:bold}
* html div.d1category li.d1more,* html div.d1category p.d1more{background:transparent url("images/ar_dbl_blue.gif") no-repeat 0px 2px}
div.d1 table.d1layout-2col{border-collapse:collapse;width:100%}
div.d1 table.d1layout-2col td{padding:0px;width:50%;vertical-align:top}
div.d1 table.d1layout-2col td.col1{padding-right:6px}
div.d1 table.d1layout-2col td.col2{padding-left:6px}
